body {
	background: #FFFFDD;
	background-image: url("../img/bg1.png");
}
TABLE {
	padding: 0;
	border: 10px ridgt #38c2bb;
	border-radius: 20px;
	bgcolor: #FFFAFA;
	width: 800px;	
	box-shadow: 1px 1px 100px 10px #FFFFFF;
}
TH {
	border: 0 groove #e98153;
	border-radius: 5px;
}
TD {
	border: 0 inset blue;
	border-radius: 5px;
}
TH:hover {
	background: black;
	color: #f3f0c9;
}
TR:hover {
	background: #f0d5e1;
	/*color: white;*/
}
TD:hover {
	background: #FFFFBB;
	/*color: #f3f0c9;*/
}

#menu {
	width: 750px;
	bgcolor: gold;
	background-color: #85d6d2;
	overflow: auto !important;
	/*�摰寡��捆������＊蝷� auto霈��閬賢�銵� important撘瑕閮剖���擃���神*/
	overflow /**/: hidden; /*ie5����*/
		border: 10px ridgt #38c2bb;
	border-radius: 20px;
	bgcolor: gold;
	box-shadow: 1px 1px 100px 10px #38c2bb;
}

#menu li {
	float: left;
	list-style-type: none;
	width: 7em;
	border-right: 1px solid #FFFFFF;
}

#menu li a {
	display: block;
	width: 100%;
	line-height: 2.5em;
	color: #0000FF;
	text-decoration: none;
	text-align: center;
}

#menu li a:hover {
	background-color: #5F3F3F;
	color: #FFFFFF;
}

table.t2 {
	width: 100%;
	border-collapse: collapse;
	font-family: Georgia;
}

.t2 caption {
	padding-bottom: 0.5em;
	font-weight: bold;
	font-size: 16px;
}



.t2 th, .t2 td {
	padding: 4px 8px;
	border: 2px solid #fff;
	background: #khaki;
}


.t2 thead th {
	padding: 2px 8px;
	background: #B8860B ;
	text-align: left;
	font-weight: normal;
	font-size: 13px;
	color: #fff;
}

.t2 tbody tr:nth-child(odd) *:nth-child(even), .t2 tbody tr:nth-child(even) *:nth-child(odd)
	{
	background: #F5F5DC;
}

.t2 tfoot th {
	padding: 2px 8px;
	background: #f69546;
	text-align: left;
	font-weight: normal;
	font-size: 10px;
	color: #fff;
}

.t2 tr *:nth-child(3), .t2 tr *:nth-child(4) {
	text-align: right;
}

.t2 tr:hover {
	color:#ff0000;
	background: #F0E68C;
}
